.arrow-up {
    position: absolute;
    width: 18px;
    height: 18px;
    border-bottom: 4px solid rgb(240, 83, 83);
    border-right: 4px solid rgb(240, 83, 83);
    transform: rotate(-135deg);
    top: 14px;
    left:9.5px;
}

.arrow-up-wraper {
    position: relative;
    position: absolute;
    position: fixed;
    top: 85vh;
    right: 50px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(240, 83, 83);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse { 
    0% {     
      opacity: 1;   
    }   
    50% {     
      opacity: 0.2;   
    } 
    100% {
      opacity: 1;
     }
}