.createLogin, .createPassword, .repeatPassword{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30px;
    padding-left: 5px;
    font-size: 17px;
}

.titleCreate {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-top: 80px;
}

#showPassword {
    margin-left: 39%;
    margin-top: 20px;
}

.btn-create-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 45%;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.btn-create-reset {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 35%;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.formCreate {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 3px black;
    width: 40%;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}