footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.425);
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.contacts {
    margin-top: 15px;
    margin-right: 20px;
}

.contacts a {
    text-decoration: none;
    color: gray;
}

.copyright {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 18px;
}